@import "../styles/mixins.module.scss";
@import "../styles/variables.scss";


// Anidación
.profileCard {
    @include flex (column);
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    background-color: var(--background);
    border: 1px solid #ffffff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    .header {
        font-size: $font-size-h2;
        font-weight: bold;
        margin: 0.5rem 0rem;
        color: $fontcolor1;
    }
    .description {
        color: $fontcolor2;
        text-align: justify;
        padding: 15px;
    }
    .photo {
        width: 500px; 
        height: 250px;
        padding: 2px;

        border-radius: 4%; 
        box-shadow: 0 4px 8px rgb(0, 106, 114); /* Sombra para profundidad */ 
        transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
    }
    .photo:hover { 
        transform: scale(1.1); /* Ampliar ligeramente en hover */ 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa en hover */
    }
    .footer {
        @include flex(row);
        width: 100% !important;// Uso del mixin
    }
}