@import "../styles/mixins.module.scss";
@import "../styles/variables.scss";



.body {
    @include flex (row);
    justify-content: center;
    margin: 0;
    padding: 50px;  
    font-family: var(--primary-font);
    //background-image: url('/images/fondo.jpeg');
    overflow: hidden;
    background-size: cover;
    height: 100vh;
    cursor: crosshair;
}

.head {
    @include flex(row);
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 50%; 
    font-weight: lighter;
    background-color: #0B162F;
    
    h1{
        font-size: $font-size-h1;
        font-weight: bold;
    }
    
    h2{
        font-size: $font-size-h2;
    }
}

.first {
    @include flex (column);
    gap: 40px;
}
.first nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.first nav ul li {
    @include nav-link-animation;
}

.container {
    @include flex (column);
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 30px;
    background-color:#0A1328;

    section div {
        @include flex (column);
        gap: 2rem;
        text-align: justify;
    }
        p{
            font-size: $font-size-h3;
        }
}

.nav2, .nav3 {
    @include flex (row);
    justify-content: center;

    h1 {
        font-size: $font-size-h1;
        font-weight: bold;
    }
    nav ul{
        @include flex (row);
        justify-content: space-around;
    }

    nav ul li{
        @include nav-link-animation;
    }
    
}

.divPro {
    @include flex (column);
    padding: 50px;
    gap: 2rem;

    div p {
        font-size: $font-size-h2;
        text-align: center;

    }
}



