@import "../styles/mixins.module.scss";
@import "../styles/variables.scss";



.body {
    @include flex (row);
    justify-content: center;
    margin: 0;
    padding: 50px;  
    font-family: var(--primary-font);
}

.head {
    @include flex(row);
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 50%; 
    height: 100vh;
    font-weight: lighter;
    //background-color: black;
    
    h1{
        font-size: $font-size-h1;
        font-weight: bold;
    }
    
    h2{
        font-size: $font-size-h2;
    }
}

.first{
    @include flex (column);
    gap: 4rem;

    h2{
        font-size: $font-size-h3;
    }
    p {
        font-size: $font-size-small;
    }
    nav ul{
        list-style: none;
        padding: 0;
        display: flex;
        gap:20px
    }

    nav ul li{
        text-decoration: none;
        color: $fontcolor1;
        position: relative;
        
    }
}

.container {
    @include flex (row);
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 30px;

    section div {
        @include flex (column);
        gap: 2rem;
        text-align: justify;
    }
        p{
            font-size: $font-size-h3;
        }
}

.nav2 {
    @include flex (row);
    justify-content: center;

    h1 {
        font-size: $font-size-h1;
    }
    nav ul{
        @include flex (row);
        justify-content: space-around;
    }
    
}

.divPro {
    @include flex (column);
    padding: 50px;
    gap: 2rem;

    div p {
        font-size: $font-size-h2;
        text-align: center;

    }
}



