//$backcolor: #1c1b22;
$fontcolor1: #ffff;
$fontcolor2: rgb(148 163 184);
$hovercolor: #09f9a0;
$backcolor: rgb(15, 23, 42);

//Fuentes
// Tamaños de fuente para pantallas grandes
$font-size-h1: 2.5rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1rem;
$font-size-p: 15px;
$font-size-small: 12px;

//Tipo de fuente
$font-primary: monospace;
