//$backcolor: #1c1b22;
$fontcolor1: #ffff;
$fontcolo2: #09f9a0;

//Fuentes
// Tamaños de fuente para pantallas grandes
$font-size-h1: 3rem;
$font-size-h2: 2.5rem;
$font-size-h3: 1.5rem;
$font-size-p: 1.25rem;
$font-size-small: 1rem;
