@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: rgb(15, 23, 42);
  --foreground: #ffff;
  --primary-font: 'Monospace', sans-serif;
  --secondary-font: 'Verdana';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(15, 23, 42);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



