@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: rgb(15, 23, 42);
  --foreground: #ffff;
  --primary-font: 'Courier New', Courier, monospace;
  --secondary-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --third-font: 'Courier New', Courier, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(15, 23, 42);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--primary-font)
}



